.AppHead{
        position: fixed;
        top: 0;
        max-width: calc(var(--width-maxWidth) - 40px);
        width: calc(100% - 40px);
        z-index: 1000000;
        background-color: var(--color-White);
        padding: 14px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        box-shadow: 0px 2px 2px var(--color-Gray3);
        .title{
            margin-left: 36px;
        }
    }