
:root{
    // COLORS
    --color-Violet700:     #3700B3;
    --color-Violet_500:    #6200EE;
    --color-Violet_20:     #BA86FC;
    --color-Teal_200:      #03DAC6;
    --color-Red_700:       #B00020;
    --color-Red_200:       #CF6679;
    --color-White:         #FFFFFF;
    --color-Gray_200:      #F5F5F5;
    --color-Gray_900:      #121212;
    --color-Black:         #000000;
    --color-Gray2:         #666666;
    --color-Gray3:         rgba(33,33,33,.08);
    --color-Gray4:         rgba(0,0,0,.5);
    --color-Violet2:       #DBB2FF;

    // ADAPTIVITY
    --width-maxWidth:       800px;
    --width-minWidth:       360px;
}
